.btn {
  font-size: 2rem;
  width: 22rem;
  height: 5rem;
  border-radius: 4rem;
  background-color: var(--color-primary);
  color: white;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 10;
  position: relative;
}

.arrowDiv {
  background-color: white;
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  position: relative;
  z-index: 10;
}

.arrow,
.blackArrow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.8rem;
  height: 1.8rem;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}

.blackArrow {
  left: -50%;
  top: 100%;
  opacity: 0;
  z-index: 1;
}
