.feature {
  display: flex;
  gap: 10rem;
  margin-top: 10rem;
  width: 100%;
  padding: 0 3rem;
}

.feature .imgDiv {
  width: 40%;
  margin: auto 0;
}

.feature .img {
  width: 100%;
  opacity: 0.5;
  border-radius: 1rem;
}

.feature .text {
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.feature ul {
  list-style: none;
  padding-left: 20px;
}

.featureSpecial {
  flex-direction: column;
}

.feature ul li {
  background-image: url("./img/right.png");
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2.5rem;
  font-size: 1.8rem;
  margin-top: 2rem;
}

@media (max-width: 66em) {
  .feature .text {
    gap: 2rem;
  }
}

@media (max-width: 58em) {
  .feature .imgDiv {
    width: 50%;
  }

  .feature .text {
    gap: 1rem;
  }

  .feature {
    gap: 4rem;
  }
}

@media (max-width: 45em) {
  .feature .imgDiv {
    width: 95%;
    margin: 0 auto;
  }

  .feature {
    flex-direction: column;
  }

  .specialFeature {
    flex-direction: column-reverse;
  }

  .feature .text {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 45em) {
  .feature .text {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 22em) {
  .feature {
    padding: 0 2rem;
  }

  .feature ul {
    padding-left: 1rem;
  }
}
