.feature {
  display: flex;
  gap: 10rem;
  margin-top: 6rem;
  width: 100%;
  padding: 0 3rem;
}

.feature .imgDiv {
  width: 40%;
  margin: auto 0;
}

.feature .subheading {
  color: #999;
  font-size: 2.4rem;
}

.feature .img {
  width: 100%;
  opacity: 0.8;
  border-radius: 1rem;
}

.feature .text {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.feature div h1 {
  font-weight: 500;
  font-size: 2.8rem;
}

.feature ul {
  list-style: none;
  margin-bottom: 2rem;
}

.featureSpecial {
  flex-direction: column;
}
.feature ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  margin-top: 2rem;
}

@media (max-width: 66em) {
  .feature .text {
    gap: 2rem;
  }
}

@media (max-width: 58em) {
  .feature .imgDiv {
    width: 50%;
  }

  .feature .text {
    gap: 1rem;
  }

  .feature {
    gap: 4rem;
  }
}

@media (max-width: 45em) {
  .feature .imgDiv {
    width: 95%;
    margin: 0 auto;
  }

  .feature {
    flex-direction: column;
    padding: 0;
  }

  .specialFeature {
    flex-direction: column-reverse;
  }

  .feature .text {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 45em) {
  .feature .text {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 22em) {
  /* .feature {
    padding: 0 2rem;
  } */
}
