.features {
  width: 100vw;
  overflow: hidden;
  margin-top: 20rem;
  padding: 0 8rem;
}

.features .heading {
  margin: 0 auto;
  width: 30rem;
  text-align: center;
  font-size: 4.2rem;
  color: var(--color-primary);
  border-bottom: 2px solid black;
  font-weight: 500;
}

@media (max-width: 50em) {
  .features {
    padding: 0 6rem;
  }
}

@media (max-width: 50em) {
  .features {
    padding: 0 3rem;
  }
}
