.footer {
  width: 100%;
  background-color: #333b4f;
  color: white;
  font-size: 2rem;
  padding: 4rem 5rem;
  margin-top: 10rem;
}

.footer .logo {
  width: 16rem;
}

.footer div:nth-child(1),
.footer div:nth-child(2) {
  margin-bottom: 4rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}
.footerContent li a:hover {
  text-shadow: 0px 0px 12px rgba(174, 39, 95, 1);
}

.footer .footerContent div:nth-child(1) {
  width: 100rem;
}

.footerContent ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footerContent ul h1 {
  font-weight: 500;
  font-size: 2.4rem;
}

.footer .followUs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer .footerIcons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer .footerLinks {
  text-decoration: none;
  color: white;
}

.footer .followUs h2 {
  font-weight: 500;
}

@media (max-width: 40em) {
  .footerContent {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
  }
  .footer .footerContent div:nth-child(1) {
    width: 100%;
  }

  .footer .footerContent {
    width: 100%;
  }

  /* .footer .footerContent div {
    width: 100%;
  } */
}

@media (max-width: 35) {
}

@media (max-width: 29em) {
  .footer {
    padding: 4rem 3rem;
  }
}
