.form_div {
  padding: 10rem 0;
  z-index: 10;
}

.form_container {
  width: 100%;
  max-width: 50rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.input_group {
  position: relative;
  margin-bottom: 20px;
}

.input_field {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  font-size: 16px;
  transition: border-bottom-color 0.3s ease;
}

.input_label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: all 0.3s ease;
}

.input_field:focus + .input_label,
.input_field:not(:placeholder-shown) + .input_label {
  top: 0;
  left: 5px;
  font-size: 12px;
  color: var(--color-primary);
}

.input_field:focus {
  border-bottom-color: var(--color-primary);
}

.grid_container {
  display: flex;
  gap: 10px;
}

.grid_container .input_group {
  width: 100%;
  flex: 1;
}

.submit_button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button:hover {
  background-color: var(--color-primary);
}

/* Responsive Styles */
@media (max-width: 66em) {
  .grid_container {
    display: flex;
    gap: 5px;
  }
  .form_container {
    padding: 1rem;
  }
}

@media (max-width: 38em) {
  .grid_container {
    flex-direction: column;
  }
}
