.header {
  background-color: var(--color-primary);
  width: 100vw;
  height: 7.5rem;
  font-size: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
  z-index: 100;
  color: white;
}

.header .link {
  color: white;
  text-decoration: none;
  transition: border 0.3s;
  border-bottom: none;
  border-bottom: 2px solid var(--color-primary);
}

.header .link:hover {
  border-bottom: 2px solid white;
}

.header .logo {
  width: 14rem;
}

.header .nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.header .nav li {
  word-spacing: -0.8;
}

.authUser {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.getStarted {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  color: white;
}

.authUser button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: white;
}

.header .dropdownDiv {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.header .whatsapp {
  background-color: #49e670;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.header .whatsapp:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .whatsappImg {
  width: 60%;
  height: 60%;
}

.header .secreteMessage {
  position: fixed;
  bottom: 3.2rem;
  right: 10rem;
  color: black;
  font-size: 1.8rem;
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: white;
}

.header .dropdownBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.8rem;
}

.header .dropdownIcon {
  height: 1.8rem;
}

.header .hamBtn {
  background-color: transparent;
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  cursor: pointer;
}

.header .hamIcon {
  width: 100%;
  height: 100%;
}

.headerResponsive {
  width: 100vw;
  height: 50vh;
  background-color: var(--color-primary);
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: white;
  z-index: 100;
}

.headerResponsive ul {
  list-style: none;
}

.headerResponsive ul li {
  cursor: pointer;
  margin-top: 2rem;
}

.headerResponsive a {
  text-decoration: none;
  color: white;
}

.headerResponsive .dropdownIcon {
  height: 1.8rem;
}
.headerResponsive .dropdownBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.8rem;
}

.headerResponsive .dropdownDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}
