.testimonials {
  height: 50rem;
  margin-top: 20rem;
  position: relative;
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}

.testimonialsBtns {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3rem;
  z-index: 1;
}

.testimonials button {
  background-color: transparent;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  font-size: 2.4rem;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 45em) {
  .testimonials {
    height: 60rem;
  }
}

@media (max-width: 40em) {
  .testimonials {
    height: 55rem;
  }
}
