.sectionTestimonial {
  position: absolute;
  left: 0;
  top: 25%;
  z-index: 1;
  width: 50%;
  padding: 0 4rem;
  overflow: hidden;
}

.sectionTestimonial .testimonial {
  border: 1px solid black;
  padding: 3rem 4rem;
  border-radius: 2.4rem;
  font-weight: 500;
  background-color: white;
}

.sectionTestimonial header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.sectionTestimonial header h2 {
  font-size: 2.2rem;
}

.sectionTestimonial header p {
  font-size: 1.7rem;
  font-weight: 600;
  color: #888;
}

.sectionTestimonial img {
  width: 4.8rem;
  height: 4.8rem;
}

.sectionTestimonial main {
  line-height: 2;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.sectionTestimonial .userInfo {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

@media (max-width: 50em) {
  .sectionTestimonial {
    padding: 0 3rem;
  }
  .sectionTestimonial .testimonial {
    padding: 2rem 2rem;
  }
}

@media (max-width: 40em) {
  .sectionTestimonial {
    width: 100%;
  }

  .sectionTestimonial .testimonial {
    padding: 3rem 6rem;
  }
}

@media (max-width: 40em) {
  .sectionTestimonial .testimonial {
    padding: 2rem 3rem;
  }
}

@media (max-width: 21em) {
  .sectionTestimonial {
    padding: 0 2rem;
  }

  .sectionTestimonial .testimonial {
    padding: 1rem 2rem;
  }
}
