* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #fe6363;
  --color-secondary: #5e5eff;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* color: #333; */
  color: #555;
}

html {
  overflow-x: hidden;
  /* scrollbar-gutter: stable; */
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s;
}

select {
  height: 24px;
  padding: 0 0.4rem;
}

.showMessage {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  /* font-size: 4rem; */
}

.hide {
  opacity: 0;
}

/* UTILITY CSS */
.primaryColor {
  color: var(--color-primary);
}

.image {
  width: 100%;
  height: 100%;
}

.icon16 {
  width: 1.6rem;
  height: 1.6rem;
}

.icon24 {
  width: 2.4rem;
  height: 2.4rem;
}

.icon32 {
  width: 3.2rem;
  height: 3.2rem;
}

.icon36 {
  width: 3.6rem;
  height: 3.6rem;
}

.icon48 {
  width: 4.8rem;
  height: 4.8rem;
}

.font64 {
  font-size: 6.4rem;
}

.font48 {
  font-size: 4.8rem;
}

.font42 {
  font-size: 4.2rem;
}

.font36 {
  font-size: 3.6rem;
}

.font24 {
  font-size: 2.4rem;
}

@media (max-width: 66em) {
  .font48 {
    font-size: 4.2rem;
  }

  .font36 {
    font-size: 3.2rem;
  }
}

@media (max-width: 58em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 58%;
  }

  .font48 {
    font-size: 3.8rem;
  }

  .font42 {
    font-size: 3.4rem;
  }

  .font36 {
    font-size: 3rem;
  }

  .font24 {
    font-size: 2.2rem;
  }
}

@media (max-width: 36) {
  .font42 {
    font-size: 3rem;
  }
}

@media (max-width: 29) {
  .font42 {
    font-size: 2.4rem;
  }
}

@media (max-width: 26em) {
  .font48 {
    font-size: 3.2rem;
  }

  .font42 {
    font-size: 3rem;
  }

  .font36 {
    font-size: 2.8rem;
  }
}

@media (max-width: 22em) {
  html {
    font-size: 52%;
  }

  .font48 {
    font-size: 3rem;
  }

  .font36 {
    font-size: 2.8rem;
  }
}
