@import "tailwindcss";

:root {
  --color-primary: #c60240;
  --color-primary-light: #cf134e;
  --color-secondary: #5e5eff;
  --color-text: #30384c;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* color: #333; */
  color: var(--color-text);
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: all 0.3s;
}

select {
  height: 24px;
  padding: 0 0.4rem;
}

.showMessage {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  /* font-size: 4rem; */
}

.hide {
  opacity: 0;
}

/* UTILITY CSS */
.primaryColor {
  color: var(--color-primary);
}

.bg_primary {
  background-color: var(--color-primary);
  color: white;
}

.bg_primary:hover {
  background-color: var(--color-primary-light);
  color: white;
}

.bg_white {
  background-color: white;
  color: black;
  border: 2px solid black;
}
